/* ==UserStyle==
@name           eh阅读状态
@namespace      com.xioxin.EhTagReadStatus
@description    利用css ":visited" 特性在标题前增加阅读状态指示
@version        0.1
@author         xioxin
==/UserStyle== */

@-moz-document domain("e-hentai.org"), domain("exhentai.org") {
.itg a .glink::before {
    content: "●";
    color: #1a9317;
    padding-right: 4px;
}
.itg a:visited .glink::before {
    color: #aaa;
}
}